{% extends "layouts/layouts_green.html" %}
{% block body %}
<h1 class="display-2">ABOUT ME</h1>
<p class="lead">This is page about me.</p>
<hr class="my-4">
<div>
{#    <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>#}
{#    <a class="btn btn-warning btn-lg" href="/articles" role="button">ARTICLES</a>#}
{#    <a class="btn btn-success btn-lg" href="/webtoons" role="button">WEBTOONS</a>#}
{#    <a class="btn btn-danger btn-lg" href="/graphes" role="button">GRAPHES</a>#}
</div>
    <hr class="my-4">
    <style>
        .left-box {
          float: left;
        }
        .right-profile-img {
          float: right;
            width : 300px;
            height : 300px;
            border-radius: 30%;
            overflow: hidden;
            object-fit: cover;
        }
        </style>

<div class="left-box">
    <p class="display-4">Hello!</p>
    <p class="display-4">My name is HyungJin Bang.</p>

</div>
<div class="right-profile-img">
    <img src="https://avatars.githubusercontent.com/u/37135305?v=4" width="300">

</div>

{% endblock %}