{% extends "layouts/layouts_main.html" %}
{% block body %}
<h1 class="display-1">WELCOME !</h1>
<p class="display-4">This thing is built by using Python with Flask framework</p>
<p class="display-4">You are now logged in as '{{user}}'</p>
<hr class="my-4">
<div>
{#    <a class="btn btn-success btn-lg" href="/about" role="button">ABOUT ME</a>#}
{#    <a class="btn btn-warning btn-lg" href="/articles" role="button">ARTICLES</a>#}
{#    <a class="btn btn-success btn-lg" href="/webtoons" role="button">WEBTOONS</a>#}
{#    <a class="btn btn-danger btn-lg" href="/graphes" role="button">GRAPHES</a>#}
</div>
<p></p>


{% endblock %}